/* Typography */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000000;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  color: #0300fe;
}

/* Layout */


/* Media */
